body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Rubik, "Open Sans";
}

#results {
    display: flex;
    height: 300px;
    width: 1000px;
    border: 10px solid black; 
    margin-top: 50px;
    justify-content: center;
}

#results p {
    font-size: 22px;
    text-align: center;
}

#choices {
    height: 300px;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 200px;
}

#choices button {
    height: 300px;
    background-color:transparent;
    border: none;
    cursor: pointer;
    
}

img {
    height: 100%;
    object-fit: cover;
    overflow: visible;
}

img:hover {
    height: 350px;
    width: 350px;
}